@import "../globals/globals-compiler.scss";

.page_root {
  color: white;
  min-height: 100vh;
  .page_main {
    padding: 20px;
    min-height: 100vh;
    max-width: 100vw;
    background-color: $BackgroundColor;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
