.line_component_main {
    box-sizing: border-box;
    position: absolute;
    width: 95vw; //changed to vw to adjust to screen h/w
    height: 2px;
    left: 47px;
    top: 166px;
    background: #ffffff4d;
}