.sort_component_main {
    box-sizing: border-box;
    position: absolute;
    width: 308px;
    height: 48px;
    left: 1160px;
    top: 92px;
    background: #3E3E3F;
    border: 1.5px solid #757577;
    box-shadow: 0px 4px 4px #00000040;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}