@import "../../globals/globals-compiler.scss";

.weekly_hashes_component_root {
  width: 100%;

  background-color: $GreyColor;
  border-radius: $BorderRadius;
  border: $GreyColorOutline $BorderSize solid;
  box-shadow: $BoxShadow;

  padding: 15px;

  .description_p {
    margin-top: 5px;
    margin-bottom: 15px;
    opacity: 0.5;
  }

  .hash_main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .hashes_container {
      display: flex;
      justify-content: center;
      align-items: center;

      flex-wrap: wrap;

      gap: 10px;

      .hash_box {
        display: flex;
        flex: 1;

        justify-content: center;
        align-items: center;

        width: 100%;
        padding: 15px;

        background-color: $LightBlackColor;
        border-radius: $BorderRadius;
        border: $LightBlackColorOutline $BorderSize solid;
        box-shadow: $BoxShadow;

        transition: $TransitionSettings;
        transition-property: background-color border-color;

        font-size: 15px;
        &:hover {
          cursor: pointer;

          background-color: $LightBlackColorHover;
          border-color: $LightBlackColorOutlineHover;
        }
      }
    }
  }
}
