@import '../../globals/globals-compiler.scss';

.play_block_component_root{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .pbc_letter_container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        width: 100%;
        height: 500px;

        .item_box{
            width: 120px;
            height: 120px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $LightBlackColor;
            border-radius: $BorderRadius;
            border: $LightBlackColorOutline $BorderSize solid;
            box-shadow: $BoxShadow;
        }

        .blank_letter{
            path{
                fill: $BlackColor;
            }
        }
    }

    .pbc_info_container{
        padding: 25px;
        background-color: $GreyColor;
        border: $GreyColorOutline $BorderSize solid;
        border-radius: $BorderRadius;
        box-shadow: $BoxShadow;
        .pbc_set_item_container{
            display: flex;
            justify-content: center;
            align-items: center;
    
            .pbc_right_item_container{
                display: flex;
                gap: 15px;
            }
        }
    }
}
