@import '../globals/globals-compiler.scss';

.footer_component_root{
    background-color: $DarkBlackColor;
    height: 300px;
    width: 100%;

    padding: 15px 60px;

    display: flex;
    justify-content: center;

    .block_container{
        width: 100%;
    }

    .social_media_block, .contact_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .social_media_container{
            width: 100%;
            .fcr_smc_row{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
    
                width: 100%;
                .colored_button{
                    display: flex;
                    justify-content: flex-start;
                    img{
                        margin-right: 5px;
                    }
                    width: 100%;
                }
            }
        }
    }

    .logo_block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: relative;
        .fc_logo_container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .fc_logo{
                width: 40px;
            }
    
            .fc_word_logo{
                margin-top: 5px;
                width: 80px;
            }
        }

        .copyright_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: absolute;
            bottom: 20px;
        }
    }
}